@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
    background-color: rgb(64, 64, 143);
    background-attachment: fixed;
    font-family: Manrope, sans-serif;
}

#container div {
    background-color: rgba(255, 255, 255, 0.384);
}

div>header {
    text-align: center;
}

main {
    margin: auto;
    width: 900px;
    height: 250px;
    background: rgba(255, 255, 255, 0.507);
    border-radius: 5px;
    border: solid 3px rgb(2, 1, 1);
}

footer {
    text-align: center;
    margin: auto;
    width: 400px;
    height: 60px;
    margin-top: 30px;

}

button {
    border-radius: 5px;
    margin: 5px;
}

main>h2{
    margin: 350px;
    margin-top: 85px;
    size: 25px;
    font-size: 300%;
}

footer>img {
    padding: 5px;
}