.button {
    background-color: #155DE9;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Arial';
}

textarea{
    resize: none;
    width: 600px;
    height: 400px;
    border: solid 2px;
    border-radius: 2px;
}

textarea::placeholder{
    color: rgba(0, 0, 0, 0.548);
    font-weight: 500;
    font-size: larger;
}

h1{
    padding: 5px;
    width: 285px;
}